header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f4f1ec;
  background-color: #8a005e;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}