.tweets  {
  margin: 1em;
  width: 100%;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tweets:hover {
  box-shadow: 0.5em 0.5em #4056A1;
}

article {
  width: 98%;
}

article p {
  border-bottom: solid;
  width: 100%;
  padding: 0.5em;
}

article header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
  align-items: center;
}

article header div {
  display: flex;
  align-items: center;
}

article footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

footer div i:hover {
  color: gold;
}