/* Mobile, Tablet & Desktop Styles */

#tweets-container  {
  width: 100%;
}

article:hover {
  box-shadow: 0.5em 0.5em #4056A1;
}

article {
  margin-top: 1em;
  width: 100%;
  border: solid;
  display: flex;
  flex-direction: column;
}

article p {
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: solid;
}

article header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

article header div {
  display: flex;
  align-items: center;
}

article footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

footer div i:hover {
  color: gold;
}
